[submodule "themes/reporter"]
	path = themes/reporter
	url = https://github.com/themefisher/reporter-bootstrap
[submodule "themes/hargo"]
	path = themes/hargo
	url = https://github.com/gethugothemes/hargo-hugo
